---
whiskers:
  version: 2.0.0
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/catppuccin-{{ flavor.identifier }}.ron"
---
{%- set palette = flavor.colors -%}
#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: false,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: "#{{palette.base.hex}}",
    text_color: "#{{palette.text.hex}}",
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "yellow"),
    preview_metadata_group_style: (fg: "yellow", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "#{{palette.base.hex}}", bg: "#{{palette.mauve.hex}}", modifiers: "Bold"),
        inactive_style: (fg: "#{{palette.text.hex}}", bg: "#{{palette.base.hex}}"),
    ),
    highlighted_item_style: (fg: "#{{palette.mauve.hex}}", modifiers: "Bold"),
    current_item_style: (bg: "#{{palette.surface1.hex}}", modifiers: "Bold"),
    borders_style: (fg: "#{{palette.overlay2.hex}}"),
    highlight_border_style: (fg: "#{{palette.text.hex}}"),
    symbols: (
        song: "󰝚",
        dir: "󰀥",
        playlist: "󰲸",
        marker: "M",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    level_styles: (
        info: (fg: "#{{palette.mauve.hex}}", bg: "#{{palette.base.hex}}"),
        warn: (fg: "#{{palette.yellow.hex}}", bg: "#{{palette.base.hex}}"),
        error: (fg: "#{{palette.red.hex}}", bg: "#{{palette.base.hex}}"),
        debug: (fg: "#{{palette.green.hex}}", bg: "#{{palette.base.hex}}"),
        trace: (fg: "#{{palette.lavender.hex}}", bg: "#{{palette.base.hex}}"),
    ),
  progress_bar: (
        symbols: ["█", "█", "", "█", "█"],
        track_style: (fg: "#{{palette.mantle.hex}}"),
        elapsed_style: (fg: "#{{palette.mauve.hex}}"),
        thumb_style: (fg: "#{{palette.mauve.hex}}", bg: "#{{palette.mantle.hex}}"),
    ), 
    scrollbar: (
        symbols: ["│", "█", "", "󰅀"],
        track_style: (fg: "#{{palette.mauve.hex}}"),
        ends_style: (fg: "#{{palette.base.hex}}"),
        thumb_style: (fg: "#{{palette.mauve.hex}}"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#{{palette.peach.hex}}", modifiers: "Bold"),
                default: (kind: Text("Unknown"), style: (fg: "#{{palette.peach.hex}}", modifiers: "Bold"))
            ),
            width: "20%",
	    alignment: Right,
        ),
        (
            prop: (kind: Text("-"), style: (fg: "#{{palette.text.hex}}"), default: (kind: Text("Unknown"))),
            width: "1",
            alignment: Center,
        ),
	(
            prop: (kind: Property(Title), style: (fg: "#{{palette.yellow.hex}}", modifiers: "Bold"),
                default: (kind: Text("Unknown"), style: (fg: "#{{palette.yellow.hex}}", modifiers: "Bold"))
            ),
            width: "80%",
	    alignment: Left
        ),
    ],

    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Tabs),
                size: "1",
            ),
            	    (
		size: "1",
		style: (align: Right),
		pane: Split(
		
		direction: Horizontal,
		panes: [
  (size: "100%", pane: Pane(Property(content: [
  (kind: Text(" ("), style: (fg: "#{{palette.text.hex}}", modififiers: "Bold")),

    (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
				 on_style: (fg: "#{{palette.green.hex}}", modifiers: "Bold"),
				 off_style: (fg: "#{{palette.surface2.hex}}", modifiers: "Bold"))))),

	(kind: Text(" | "), style: (fg: "#{{palette.text.hex}}", modififiers: "Bold")),

    (kind: Property(Status(RandomV2(on_label: "", off_label: "",
				 on_style: (fg: "#{{palette.pink.hex}}", modifiers: "Bold"),
				 off_style: (fg: "#{{palette.surface2.hex}}", modifiers: "Bold"))))), 
    (kind: Text(" | "), style: (fg: "#{{palette.text.hex}}", modififiers: "Bold")),

	(kind: Property(Status(SingleV2(on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊", on_style: (fg: "#{{palette.lavender.hex}}", modifiers: "Bold"), off_style: (fg: "#{{palette.surface2.hex}}", modifiers: "Bold"), oneshot_style: (fg: "#{{palette.yellow.hex}}", modifiers: "Bold"))))),

	  (kind: Text(" )"), style: (fg: "#{{palette.text.hex}}", modififiers: "Bold")),


  ], style: (fg: "#{{palette.text.hex}}"), align: Right))),
		]

		),

	    ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
	    (
	    	size: "1",
		pane: Split(
		direction: Horizontal,
		panes: [
		(size: "2", pane: Pane(Property(content: [(kind: Text("󰕾 ")),], style: (fg: "#{{palette.text.hex}}"), align: Left))),
		(size: "100%", pane: Pane(Volume(
		kind: Slider(
		symbols: (
			filled: "─",
	                thumb: "●",
			track: "─",
		),
		track_style: (fg: "#{{palette.surface2.hex}}"),
		filled_style: (fg: "#{{palette.mauve.hex}}"),
		thumb_style: (fg: "#{{palette.surface2.hex}}"),

		)

		))),
		(size: "3", pane: Pane(Property(content: [(kind: Property(Status(Volume)), style: (fg: "#{{palette.text.hex}}"))], align: Right))),
		(size: "1", pane: Pane(Property(content: [(kind: Text("%")),], style: (fg: "#{{palette.text.hex}}"), align: Left))),
		]
		)

	    ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],


cava: (
    // symbols that will be used to draw the bar in the visualiser, in ascending order of
    // fill fraction
    bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
    // similar to bar_symbols but these are used for the top-down rendering, meaning for orientation
    // "Horizontal" and "Top"
    inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],

    //bg_color: "", // background color, defaults to rmpc's bg color if not provided
    bar_width: 1, // width of a single bar in columns
    bar_spacing: 1, // free space between bars in columns

    // Possible values are "Top", "Bottom" and "Horizontal". Top makes the bars go from top to
    // bottom, "Bottom" is from bottom up, and "Horizontal" is split in the middle with bars going
    // both down and up from there.
    // Using non-default symbols with "Top" and "Horizontal" may produce undesired output.
    orientation: Horizontal,

    // Colors can be configured in three different ways: a single color, different colors
    // per row and a gradient. You can use the same colors as everywhere else. Only specify
    // one of these:

    // Every bar symbol will be red
    //bar_color: Single("#{{palette.mauve.hex}}"),

    bar_color: Gradient({

            12: "#{{palette.teal.hex}}",
            25: "#{{palette.sky.hex}}",
            36: "#{{palette.sapphire.hex}}",
            50: "#{{palette.blue.hex}}",
            60: "#{{palette.mauve.hex}}",
            75: "#{{palette.pink.hex}}",
            84: "#{{palette.maroon.hex}}",
            100: "#{{palette.red.hex}}",    
    }),
  ),
    lyrics: (
        timestamp: false
    )
)
