#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: false,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: "#eff1f5",
    text_color: "#4c4f69",
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "yellow"),
    preview_metadata_group_style: (fg: "yellow", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "#eff1f5", bg: "#8839ef", modifiers: "Bold"),
        inactive_style: (fg: "#4c4f69", bg: "#eff1f5"),
    ),
    highlighted_item_style: (fg: "#8839ef", modifiers: "Bold"),
    current_item_style: (bg: "#bcc0cc", modifiers: "Bold"),
    borders_style: (fg: "#7c7f93"),
    highlight_border_style: (fg: "#4c4f69"),
    symbols: (
        song: "󰝚",
        dir: "󰀥",
        playlist: "󰲸",
        marker: "M",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    level_styles: (
        info: (fg: "#8839ef", bg: "#eff1f5"),
        warn: (fg: "#df8e1d", bg: "#eff1f5"),
        error: (fg: "#d20f39", bg: "#eff1f5"),
        debug: (fg: "#40a02b", bg: "#eff1f5"),
        trace: (fg: "#7287fd", bg: "#eff1f5"),
    ),
  progress_bar: (
        symbols: ["█", "█", "", "█", "█"],
        track_style: (fg: "#e6e9ef"),
        elapsed_style: (fg: "#8839ef"),
        thumb_style: (fg: "#8839ef", bg: "#e6e9ef"),
    ), 
    scrollbar: (
        symbols: ["│", "█", "", "󰅀"],
        track_style: (fg: "#8839ef"),
        ends_style: (fg: "#eff1f5"),
        thumb_style: (fg: "#8839ef"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#fe640b", modifiers: "Bold"),
                default: (kind: Text("Unknown"), style: (fg: "#fe640b", modifiers: "Bold"))
            ),
            width: "20%",
	    alignment: Right,
        ),
        (
            prop: (kind: Text("-"), style: (fg: "#4c4f69"), default: (kind: Text("Unknown"))),
            width: "1",
            alignment: Center,
        ),
	(
            prop: (kind: Property(Title), style: (fg: "#df8e1d", modifiers: "Bold"),
                default: (kind: Text("Unknown"), style: (fg: "#df8e1d", modifiers: "Bold"))
            ),
            width: "80%",
	    alignment: Left
        ),
    ],

header: (
	rows: [
	(
		left: [],
		center: [],
		right: [
		  (kind: Text(" ( "), style: (fg: "#4c4f69", modififiers: "Bold")),
		  (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
                                         on_style: (fg: "#40a02b", modifiers: "Bold"),
                                         off_style: (fg: "#acb0be", modifiers: "Bold"))))),

		  (kind: Text(" | "), style: (fg: "#4c4f69", modififiers: "Bold")),

		  (kind: Property(Status(RandomV2(on_label: "", off_label: "",
                                         on_style: (fg: "#ea76cb", modifiers: "Bold"),
                                         off_style: (fg: "#acb0be", modifiers: "Bold"))))), 

		  (kind: Text(" ) "), style: (fg: "#4c4f69", modififiers: "Bold")),
		],

		)
	],


    ),

    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Tabs),
                size: "1",
            ),
            (
                pane: Pane(Header),
                size: "1",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],


cava: (
    // symbols that will be used to draw the bar in the visualiser, in ascending order of
    // fill fraction
    bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
    // similar to bar_symbols but these are used for the top-down rendering, meaning for orientation
    // "Horizontal" and "Top"
    inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],

    //bg_color: "", // background color, defaults to rmpc's bg color if not provided
    bar_width: 1, // width of a single bar in columns
    bar_spacing: 1, // free space between bars in columns

    // Possible values are "Top", "Bottom" and "Horizontal". Top makes the bars go from top to
    // bottom, "Bottom" is from bottom up, and "Horizontal" is split in the middle with bars going
    // both down and up from there.
    // Using non-default symbols with "Top" and "Horizontal" may produce undesired output.
    orientation: Horizontal,

    // Colors can be configured in three different ways: a single color, different colors
    // per row and a gradient. You can use the same colors as everywhere else. Only specify
    // one of these:

    // Every bar symbol will be red
    //bar_color: Single("#8839ef"),

    bar_color: Gradient({

            12: "#179299",
            25: "#04a5e5",
            36: "#209fb5",
            50: "#1e66f5",
            60: "#8839ef",
            75: "#ea76cb",
            84: "#e64553",
            100: "#d20f39",    
    }),
  ),
    lyrics: (
        timestamp: false
    )
)
